html
  head
      title Veripass (UK)
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      script(src="/assets/js/react.js", crossorigin=true)
      script(src="/assets/js/react-dom.js", crossorigin=true)
      script(src="/assets/js/babel.min.js", crossorigin=true)
      script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js", defer=true)
      script(src="/assets/js/jquery-3.3.1.min.js", type="text/javascript")
      script(src="/assets/js/datepicker.min.js", type="text/javascript")
      //link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
      link(href="/assets/css/style.css", rel="stylesheet")
      link(href="/assets/css/embed.css", rel="stylesheet")

  body
    div(id="smsession")
      center Powered By Veripass™ SMSession ID: !{smsessionid}
    div(id="root") !{body}
    script(src="veripass.js")